.fuente50px{
    font-size: 55px;
}
.colorPrincipal{
/*    background-color:  #ea98ff;
    color: black;*/
    a{
        color:black;
    }
}
/*.color_fondo{
    background: #efb3ff;
    background: linear-gradient(121deg,#efb3ff 0%, #f2d6f8 16%, #efb3ff 33%, #f2d6f8 50%, #efb3ff 67%, #f2d6f8 84%, #efb3ff 100%);
    background: -webkit-linear-gradient(121deg,#efb3ff 0%, #f2d6f8 16%, #efb3ff 33%, #f2d6f8 50%, #efb3ff 67%, #f2d6f8 84%, #efb3ff 100%);
    background: -moz-linear-gradient(121deg,#efb3ff 0%, #f2d6f8 16%, #efb3ff 33%, #f2d6f8 50%, #efb3ff 67%, #f2d6f8 84%, #efb3ff 100%);
}*/

.texo_centrado{
    text-align:center ;
}

.footer{           /* header, */
    grid-area:footer;
    .logo{
        width: 90px;
    }
    ul{ 
        list-style-type: none;  /*puesto*/
    }
    li {
        display: inline;        /*puesto*/
        margin: auto 25px;      /*puesto*/
    }    
    a{
        color:white;          /*puesto*/
        text-decoration: none;  /*puesto*/
        font-size: 20px;        /*puesto*/
        font-weight: 700;       /*puesto*/
        
    }
    .conf-whatsapp{
        position:fixed;
        width:35px;
        bottom: 30px;
        color:rgb(44, 181, 44);
        right: 15px;
        font-size: 5em;
    }    
    .contenedor_header{
        margin:0  auto;
        display:flex;
        flex-direction: row;
        align-content: space-evenly;
        justify-content:space-evenly;
        align-items: center; 
    }
    .contendor_comunicacion{
        padding:0.5rem ;
        display:flex;
        flex-wrap:wrap;
        align-content: space-evenly;
        justify-content:space-evenly;
        align-items: center; 
    }
    .comunicacion-flex-item{
        margin:0 10px;   
    }
    .contenedor_sub_nav{
        margin:0  auto;
        display:flex;
        flex-direction: row;
        justify-content:space-evenly;
    }
    .sub_nav-flex-item{
        margin-bottom:1rem ;
    }
}

    
.header{
    

    .espacio_vacio { 
        grid-area: vacio; 
    }

    
}
.main{

 
/***************************************************/
/********       para la pagina index        ********/
/***************************************************/
/********       falta ultima revision       ********/
    .flex-container-oferta{
        margin:0 auto;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        /*align-content: space-evenly;*/
        justify-content:space-evenly;
        align-items: center;    
    }
    .flex-item-oferta{
        border: 10px solid rgb(38, 129, 129);
        border-radius: 30px; 
        background-color: rgb(61, 206, 206);
        padding: 1%;
        margin: 2%;
        width: 95%;
        text-align: center;
        img{
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            width: 100%;
            object-fit: cover;
        }
        ul{ 
            list-style-type: none;  /*puesto*/
            padding: 0;
            margin: 10px 0 0 0;
        }
        li{ 
            display: inline-block;     
            margin: auto 2.2%;
            list-style-type: none;
            font-size: .8em;
            font-weight: 700;
            border: 3px solid rgb(229, 139, 247);
            background-color: rgb(238, 181, 250);
            border-radius: 20px; 
            padding: 4px;
            margin: 4px;
            p{
                padding: 6px;  
            }
        }
    }
    .nosotros{
        margin: 0 15% ;
        text-align:justify
        ul{
            li{
                padding:  20rem AUTO;
            }
        }
    }   
/***************************************************/
/********     para la pagina productos      ********/
/***************************************************/
/********       comenzando                  ********/

    /*.contenedor_tarjetas{
        background-color: rgb(150, 206, 61);
    }*/
    .contenedor_tarjetas{
        margin:0 auto;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        /*align-content: space-evenly;*/
        justify-content:space-evenly;
        align-items: center;    
    }
    .item-tarjeta{
        border: 10px solid rgb(38, 129, 129);
        border-radius: 30px; 
        background-color: rgb(61, 206, 206);
        padding: 1%;
        margin: 2%;
        width: 95%;
        text-align: center;
        img{
            border-radius: 20px;
            /*width: 100%;*/
            object-fit: cover;
        }
        ul{ 
            list-style-type: none;  /*puesto*/
            padding: 0;
            margin: 10px 0 0 0;
        }
        li{ 
            display: inline-block;     
            margin: auto 2.2%;
            list-style-type: none;
            font-size: .8em;
            font-weight: 700;
            border: 3px solid rgb(229, 139, 247);
            background-color: rgb(238, 181, 250);
            border-radius: 20px; 
            padding: 4px;
            margin: 4px;
            p{
                padding: 6px;  
            }
        }
    }






    
/***************************************************/
/********      para la pagina contacto      ********/
/***************************************************/
/********       comenzando                  ********/
    .flex-container-contacto{
        width: 100%;
        /* margin:0  auto;*/
        display:flex;
        /*flex-direction:row;*/
        flex-wrap:wrap;
        align-content: space-evenly;
        /*justify-content:space-evenly;
        align-items: center;*/
        background-color: aqua;
        
    }
    .flex-item-contacto{
        flex: 1;
        /*width: 40%;*/
        /* margin:0  auto ;*/
        padding: 30 px;
        border: 1px solid black;
        flex-grow: 1;
        input{
            width: 100%;
            padding: 30 px;
            text-align: center;  
        }    
    } 






/***************************************************/
/********       para la pagina carrto       ********/
/***************************************************/
/********       falta ultima revision       ********/
    .tabla{
        width: 80%;
        margin: 0 auto;
        border: 4px solid #a666b8;
        text-align: center;
        th {
            border: 1px solid #a666b8;
            height: 60px;
        }
        td {
            border: 1px solid #a666b8;
            height: 40px;
        }
    }
    .flex-container-botones{
        display: flex;
        width: 80%;
        margin: 0 auto;  
        padding: 30px 0;       
        text-align: center;
        align-content: space-evenly;
        justify-content:space-evenly;
        align-items: center; 
    }
    .flex-item-botones{
        border: 4px solid  #a666b8;
        border-radius: 25px;
        padding: 10px;
        width: 150px;
        background: #d29ae2;
        font-weight: 700;
        a{
            text-decoration: none;
        }
    }        
    .despedida{
        p{
            margin: 0 auto; 
            padding-bottom: 5px;
            text-align:center
        }
    }    
}
.aside{ 
    grid-area:aside;
    display:flex;
    width: auto;
    video{
        width: 50%;
        padding: 2%;
    }
}


footer{
    width: auto;


}
/******* original para tamaño movil 
/***********************************************************************************************/
@media screen and (min-width : 601px)and (max-width : 900px){

    body{

        header{
            background-color: aquamarine;
            }
        }  
        main{
            .razonSocial{
                    font-size: 1.1em;                            
            }
            /***************************************************/
            /********       para la pagina index        ********/
            /***************************************************/
            /********       falta ultima revision       ********/
            .flex-container-oferta{
                margin:0 auto;
                display:flex;
                flex-direction: row;
                flex-wrap:wrap;
                align-content: space-evenly;
                justify-content:space-evenly;
                align-items: center;    
            }
            .flex-item-oferta{
                border: 10px solid rgb(38, 129, 129);
                border-radius: 30px; 
                background-color: rgb(61, 206, 206);
                padding: 1%;
                margin: 2%;
                width: 35%;
            }   
        }
        .aside{ 
            grid-area:aside;
            display:flex;
            flex-direction: column;
            width: 100;
            video{
                position:relative;
                width: 100%;
                padding: 2%;
            }
        }    
    }
}
/***********************************************************************************************/
@media screen and (min-width : 901px){
    /*
        320px — 480px: Dispositivos móviles
        481px — 768px: iPads, Tabletas
        769px — 1024px: pantallas pequeñas, laptops
        1025px — 1200px: Computadoras de escritorio, pantallas grandes
        1201px y más —  Pantallas extra-grandes, TV 

    */ 
    body{
        .colorFondo{
        /        background: yellow;
        }

    main{
        .razonSocial{
            font-size: 1.2em;                            
        }
    }
        /***************************************************/
        /********       para la pagina index        ********/
        /***************************************************/
        /********       falta ultima revision       ********/
        .flex-container-oferta{
            margin:0 auto;
            display:flex;
            flex-direction: row;
            flex-wrap:wrap;
            align-content: space-evenly;
            justify-content:space-evenly;
            align-items: center;    
        }
        .flex-item-oferta{
            border: 10px solid rgb(38, 129, 129);
            border-radius: 30px; 
            background-color: rgb(61, 206, 206);
            padding: 1%;
            margin: 2%;
            width: 35%;
        }        
}

